@use "../variables/variables";
@use "../mixins/mixins";

.aside {
  height: 100%;

  &__image {
    max-height: 20%;
    width: 100%;
  }

  &__text {
    font-size: 1rem;
  }

  &__title{

  }

  &--mod {
    @include mixins.formato-caja;
  }
}

.info {

  &__title{

  }

  &--mod {
    @include mixins.formato-caja;
  }


}

.temp__semana {
  align-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;

  @include mixins.formato-caja;

    &__detalles {

    width: 100%;              /* ocupa todo el ancho */
    justify-content: stretch; /* estira los items */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__detalles li {
    flex: 1 1 0;   /* cada item ocupa el mismo espacio */
    text-align: center;
  }


}

/*
.contenido{

    &__row{

    }

    &__title{

    }

    &__main{

    }

    &__row-main{

    }

    &__column{
    }
}
*/

.footer {
  &__fila {
    padding: 1rem;
    text-align: left;
  }

  &__text{

  }
}
