@use "../variables/variables";
@use "../mixins/mixins";

.aside {
  height: 100%;

  &__image {
    max-height: 20%;
    width: 100%;
  }

  &__text {
    font-size: 1rem;
  }

  &__title{

  }

  &--mod {
    @include mixins.formato-caja;
  }
}

.info {

  &__title{

  }

  &--mod {
    @include mixins.formato-caja;
  }


}

.temp__semana {

  @media screen and (max-width: 420px) {
    margin: 0;
    width: 100vh;
  }

  @media screen and (min-width: 421px) and (max-width: 576px) {

    width: 100vh;
    margin: 0;
  }

  @media screen and (min-width: 577px) and (max-width: 1024px) {
    width: 33.33vh;
    margin: 0;
  }

  @media screen and (min-width: 1025px) {
    width: 33.33vh;
    margin: 0;
  }

  @include mixins.formato-caja;
}

/*
.contenido{

    &__row{

    }

    &__title{

    }

    &__main{

    }

    &__row-main{

    }

    &__column{
    }
}
*/

.footer {
  &__fila {
    padding: 1rem;
    text-align: left;
  }

  &__text{

  }
}
