@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$color_gradient_primary: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
$color_gradient_secondary: linear-gradient(90deg, rgba(81, 81, 153, 0.66) 0%, rgba(176, 235, 201, 1) 50%, rgba(202, 227, 227, 1) 100%);
$fuente__pagina: 'Roboto', 'Product Sans', Arial, sans-serif;