@use '../variables/variables';

@mixin formato-caja{
    border: 2px solid #050301;
    border-radius: 5px;
    background: variables.$color_gradient_secondary;
    font-family: variables.$fuente__pagina ;

}